body{
    background-image: "https://images.pexels.com/photos/1276235/pexels-photo-1276235.jpeg"
}
.flex-container{
    display:flex;
    flex-direction:row;
    padding: 5px;
    background: black; 
}

.item{
    color:white;
    font-size: 22px;
    margin:
}

.saibamais{
    background-color: red;
    padding: 10px;
    text-align: center;
    color: white;
}