header{
background-color: black;
color: white;
align-items: center;
}

<img class="fundo" src="https://images.pexels.com/photos/1276235/pexels-photo-1276235.jpeg" alt="Black and White Cow in Front of Green Leafed Tree">